/module-6/node_modules
/module-7/node_modules
/module-7/.env

/module-9/node_modules
/module-9/.env


/module-10/node_modules
/module-10/.env


/module-11/node_modules

/module-13/node_modules
/module-14/node_modules

/module-15/node_modules
/module-15/client/node_modules