.about-intro {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 12.5em;
}
.intro-container {
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  padding: 60px 80px;
}

.intro-container h4 {
  font-size: 3.5em;
  line-height: 1;
  margin: 0;
}
.intro-container p {
  font-size: 1.5em;
  padding: 20px 0 0;
  text-align: justify;
  line-height: 1.5;
}
